webVales/src/conf/xml-resources/web-service-references/Servicio/wsdl/localhost_50114/Servicio.svc.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:element name="AgregarServicio"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="AgregarServicioResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="AgregarServicioResult" type="xs:boolean"/></xs:sequence></xs:complexType></xs:element><xs:element name="EliminarServicio"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="EliminarServicioResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="EliminarServicioResult" type="xs:boolean"/></xs:sequence></xs:complexType></xs:element><xs:element name="ModificarServicio"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="ModificarServicioResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="ModificarServicioResult" type="xs:boolean"/></xs:sequence></xs:complexType></xs:element><xs:element name="ListarServicio"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="ListarServicioResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="ListarServicioResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element></xs:schema>