webVales/src/conf/xml-resources/web-service-references/Empleado/wsdl/localhost_50114/Empleado.svc.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:import schemaLocation="http://localhost:50114/Empleado.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SistemaVales.Negocio"/><xs:element name="AgregarEmpleado"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="empleado" nillable="true" type="q1:Empleado" xmlns:q1="http://schemas.datacontract.org/2004/07/SistemaVales.Negocio"/></xs:sequence></xs:complexType></xs:element><xs:element name="AgregarEmpleadoResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="AgregarEmpleadoResult" type="xs:boolean"/></xs:sequence></xs:complexType></xs:element><xs:element name="EliminarEmpleado"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="empleado" nillable="true" type="q2:Empleado" xmlns:q2="http://schemas.datacontract.org/2004/07/SistemaVales.Negocio"/></xs:sequence></xs:complexType></xs:element><xs:element name="EliminarEmpleadoResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="EliminarEmpleadoResult" type="xs:boolean"/></xs:sequence></xs:complexType></xs:element></xs:schema>