webVales/web/WEB-INF/wsdl/localhost_50114/Servicio.svc.xsd_xsd2.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SistemaVales.Negocio" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/SistemaVales.Negocio"><xs:complexType name="Servicio"><xs:sequence><xs:element minOccurs="0" name="DescripcionServicio" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="IdServicio" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="Servicio" nillable="true" type="tns:Servicio"/></xs:schema>